includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    paths:
        - src
        - tests
    excludes_analyse:
        - vendor/*
    parallel:
        maximumNumberOfProcesses: 2
        processTimeout: 10.0
